* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive, 'Times New Roman', Times, serif;

}

h1,h2, h4,p {
    font-family: "marvel";    
    text-align: center;
	color: #fff;
	
}
h1{
	font-size: 36pt;
	font-weight: bold;
	position: relative;
	cursor: pointer;
	transition: all 300ms ease-in-out;
}
h1::before{
	content: var(--l);
	position: absolute;
	transform: scale(1.1);
	filter: blur(15px);
}
h1::after{
	content: var(--l);
	position: absolute;
	top: 80%;
	left: 0;
	filter: blur(30px);
	transform: rotate(50deg);
}
h1:hover{
	filter: contrast(250%);
}
h1:nth-child(Peliculas Marvel){
	color: #ff0000;
}
body {
    font-size: 20px;
    margin-top: 150px;
    margin-left: 0px;
    margin-right: 5px;
    background-color: black;
}

.img {
    width: 189px;
}
li{
    list-style: none;
}


footer {
    position: relative;
    background-color: black;
    width: 100%;
    color: #fff;
    height: 130px; 
}
.carousel-item img{
	height: 200px;
	width: 100%; 
	border-top-left-radius: calc(0.25rem - 1px); 
	border-top-right-radius: calc(0.25rem - 1px);
} 
/* .carousel-inner> .item> img {
	height: 640px;
	width: 360px; 
} */

.container-footer {
    position: relative;

}
audio{
	background-color: #0a0a0a;

}

.copyright {
    position: absolute;  
    color: rgba(255, 255, 255, 0.59);
    margin: 60px;
    font-size: 20px;
	font-family: 'Bebas Neue', cursive, 'Times New Roman', Times, serif;
	;
}

.imgfooter {
    position: absolute;
    width: 130px;
    right: 45%;
    margin: 30px;
}

.instagram {
    position: absolute;
    right: 40px;
    margin: 50px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.59);
}
.facebook {
    position: absolute;
    right: 80px;
    margin: 50px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.59);
}
.twitter {
    position: absolute;
    right: 0;
    margin: 50px;
    font-size: 30px;
    color: rgba(255, 255, 255, 0.59);
}

.redes:hover {
    color: rgba(9, 212, 9, 0.775);
}

@media (max-width:956px){
    .imgfooter {
        right: 25%;
    }
}
@media (max-width:702px){
.copyright {
    margin: 0;
    top:100px;
    left: 30%;
    font-size: 15px;
}
.imgfooter { 
    width: 100px;
    right: 35%;
    margin-top: 5px;
}

.instagram {
    right: 37%;
}
.facebook {
    right: 45%;
}
.twitter{
right: 29%;
}
}
.cards-wrapper{
	display: flex;

}


.card {
    overflow: hidden;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 50px;
    box-shadow: 0px 1px 10px rgba(255,255,255,2);
    cursor: default;
    border-radius: 10px;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px 5px 20px  rgba(255,255,255,4);
    transform: translateY(-3%);

}

.card h3 {
    text-align: center;

}
.card div p {
    color: #6a6a6a;
    text-align: center;
    height: 170px;

}
.cars img{
	height: 100vh; 
	width: 100%;

}
.contenedor-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:rgba(255, 255, 255, 0.69);
    
    
    }
    
    section input {
        width: 56%;
        margin: 5px; 
        background-color:#6a6a6a ; 
        color:rgba(255, 255, 255, 0.676);
        border-radius: 7px;
        margin: 7px;
        padding: 7px;
        border: none;
        outline: none;
        border-bottom: solid 3px rgba(0, 128, 0, 0.528);
        
    }

    section input:focus {
        background: linear-gradient(to bottom, transparent, #6a6a6a);
    }
    
    .mensaje {
        resize: none;
        border-radius: 9px;
        width: 56%;
        height: 200px;
        max-height: 400px;
        min-height: 200px;
        margin: 5px;
        background-color:#6a6a6a;
        padding: 7px;
        color: #fff;
        border: none;
        outline: none;
        border-bottom: solid 3px rgba(0, 128, 0, 0.528);
        
    
    }
    
.mensaje:focus {
        background: linear-gradient(to bottom, transparent, #6a6a6a);
    }
    
    .benviar {
        margin: 10px;
        width: 33%;
    }
    
    .start {
        align-items: flex-start;
    }

    .color-imput::placeholder{
        color: rgba(255, 255, 255, 0.781);
    } 
    .mensaje::placeholder{
        color: rgba(255, 255, 255, 0.781);
    }
/* nosotros */
.iconos {
	display: flex;
	justify-content: space-evenly;
	
}
.iconos >a >img{
	width: 80%;
	height: 80%;

}

#particles-js {
	height: 100vh; 
	width: 100%;
    position: fixed;
    z-index: -1;
}
.section-title {
	font-size: 28px;
	margin-bottom: 20px;
	padding-bottom: 20px;
	font-weight: 400;
	display: inline-block;
	position: relative;
}
.section-title:after,
.section-title:before {
	content: "";
	position: absolute;
	bottom: 0;
}
.section-title:after {
	height: 2px;
	background-color: rgba(252, 92, 15, 0.46);
	left: 25%;
	right: 25%;
}

.section-title:before {
	width: 15px;
	height: 15px;
	border: 3px solid #fff;
	background-color: #fc5c0f;
	left: 50%;
	transform: translatex(-50%);
	bottom: -6px;
	z-index: 9;
	border-radius: 50%;
}

/* CAROUSEL STARTS */
.customer-feedback .owl-item img {
	width: 85px;
	height: 85px;
}

.feedback-slider-item {
	position: relative;
	padding: 60px;
	margin-top: -40px;
}

.customer-name {
	margin-top: 15px;
	margin-bottom: 25px;
	font-size: 20px;
	font-weight: 500;
    text-align: center;
}

.feedback-slider-item p {
	line-height: 1.875;
}

.customer-rating {
	background-color: #eee;
	border: 3px solid #fff;
	color: rgba(1, 1, 1, 0.702);
	font-weight: 700;
	border-radius: 50%;
	position: absolute;
	width: 47px;
	height: 47px;
	line-height: 44px;
	font-size: 15px;
	right: 0;
	top: 77px;
	text-indent: -3px;
}

.thumb-prev .customer-rating {
	top: -20px;
	left: 0;
	right: auto;
}

.thumb-next .customer-rating {
	top: -20px;
	right: 0;
}

.customer-rating i {
	color: rgb(251, 90, 13);
	position: absolute;
	top: 10px;
	right: 5px;
	font-weight: 600;
	font-size: 12px;
}

/* GREY BACKGROUND COLOR OF THE ACTIVE SLIDER */
.feedback-slider-item:after {
	content: "";
	position: absolute;
	left: 20px;
	right: 20px;
	bottom: 0;
	top: 103px;
	background-color: #f6f6f6;
	border: 1px solid rgba(251, 90, 13, 0.1);
	border-radius: 10px;
	z-index: -1;
}

.thumb-prev,
.thumb-next {
	position: absolute;
	z-index: 99;
	top: 45%;
	width: 98px;
	height: 98px;
	left: -90px;
	cursor: pointer;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

.thumb-next {
	left: auto;
	right: -90px;
}

.feedback-slider-thumb img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.feedback-slider-thumb:hover {
	opacity: 0.8;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}

.customer-feedback .owl-nav [class*="owl-"] {
	position: relative;
	display: flex;
	bottom: 45px;
	transition: all 0.2s ease-in;
}

.customer-feedback .owl-nav i {
	background-color: transparent;
	color: rgb(251, 90, 13);
	font-size: 25px;
}

.customer-feedback .owl-prev {
	left: -15px;
}

.customer-feedback .owl-prev:hover {
	left: -20px;
}

.customer-feedback .owl-next {
	right: -15px;
}

.customer-feedback .owl-next:hover {
	right: -20px;
}

/* DOTS */
.customer-feedback .owl-dots {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 35px;
}
.customer-feedback .owl-dot {
	display: inline-block;
}

.customer-feedback .owl-dots .owl-dot span {
	width: 11px;
	height: 11px;
	margin: 0 5px;
	background: #fff;
	border: 1px solid rgb(251, 90, 13);
	display: block;
	-webkit-backface-visibility: visible;
	-webkit-transition: all 200ms ease;
	transition: all 200ms ease;
	border-radius: 50%;
}

.customer-feedback .owl-dots .owl-dot.active span {
	background-color: rgb(251, 90, 13);
}

/* RESPONSIVE */
@media screen and (max-width: 767px) {
	.feedback-slider-item:after {
		left: 30px;
		right: 30px;
	}
	.customer-feedback .owl-nav [class*="owl-"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		margin-top: 45px;
		bottom: auto;
	}
	.customer-feedback .owl-prev {
		left: 0;
	}
	.customer-feedback .owl-next {
		right: 0;
	}
}
/* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul {
	background: #0a0a0a;
	padding: 50px 0;
}
.timeline ul li {
	list-style-type: none;
	position: relative;
	width: 6px;
	margin: 0 auto;
	padding-top: 50px;
	background: rgb(163, 8, 8);
}
.timeline ul li::after {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background: inherit;
	z-index: 1;
}
.timeline ul li div {
	position: relative;
	bottom: 0;
	width: 400px;
	padding: 15px;
	background: #f60707;
}
.timeline ul li div::before {
	content: "";
	position: absolute;
	bottom: 7px;
	width: 0;
	height: 0;
	border-style: solid;
}
.timeline ul li:nth-child(odd) div {
	left: 45px;
}
.timeline ul li:nth-child(odd) div::before {
	left: -15px;
	border-width: 8px 16px 8px 0;
	border-color: transparent #f60707 transparent transparent;
}
.timeline ul li:nth-child(even) div {
	left: -439px;
}

.timeline ul li:nth-child(even) div::before {
	right: -15px;
	border-width: 8px 0 8px 16px;
	border-color: transparent transparent transparent #f60707;
}

time {
	display: block;
	font-size: 1.2rem;
	font-weight: bold;
	margin-bottom: 8px;
}
/* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline ul li::after {
	transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
	background: #f60707;
}
.timeline ul li div {
	visibility: hidden;
	opacity: 0;
	transition: all 0.5s ease-in-out;
}
.timeline ul li:nth-child(odd) div {
	transform: translate3d(200px, 0, 0);
}
.timeline ul li:nth-child(even) div {
	transform: translate3d(-200px, 0, 0);
}
.timeline ul li.in-view div {
	transform: none;
	visibility: visible;
	opacity: 1;
}
/* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
@media screen and (max-width: 900px) {
	.timeline ul li div {

		width: 250px;
	}
	.timeline ul li:nth-child(even) div {
		left: -289px;
/*250+45-6*/
	}
}
@media screen and (max-width: 600px) {
	.timeline ul li {
		margin-left: 20px;
	}
	.timeline ul li div {
		width: calc(100vw - 91px);
	}
	.timeline ul li:nth-child(even) div {
		left: 45px;
	}
	.timeline ul li:nth-child(even) div::before {
		left: -15px;
		border-width: 8px 16px 8px 0;
		border-color: transparent #f60707 transparent transparent;
	}
}
/* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.timeline-clippy ul li::after {
	width: 40px;
	height: 40px;
	border-radius: 0;
}
.timeline-rhombus ul li::after {
	clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}
.timeline-rhombus ul li div::before {
	bottom: 12px;
}
.timeline-star ul li::after {
	clip-path: polygon(
		50% 0%,
		61% 35%,
		98% 35%,
		68% 57%,
		79% 91%,
		50% 70%,
		21% 91%,
		32% 57%,
		2% 35%,
		39% 35%
	);
}
.timeline-heptagon ul li::after {
	clip-path: polygon(
		50% 0%,
		90% 20%,
		100% 60%,
		75% 100%,
		25% 100%,
		0% 60%,
		10% 20%
	);
}
.timeline-infinite ul li::after {
	animation: scaleAnimation 2s infinite;
}
@keyframes scaleAnimation {
	0% {
		transform: translateX(-50%) scale(1);
	}
	50% {
		transform: translateX(-50%) scale(1.25);
	}
	100% {
		transform: translateX(-50%) scale(1);
	}
}
/* FOOTER STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
.page-footer {
	position: fixed;
	right: 0;
	bottom: 20px;
	display: flex;
	align-items: center;
	padding: 5px;
	color: black;
	background: rgba(255, 255, 255, 0.65);
}
.page-footer a {
	display: flex;
	margin-left: 4px;
}





